.Title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.Loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}