.block1 {
    display: flexbox;
    align-items:baseline;
    margin: 25px;
}

.map-component {
    position: right;
    right: 200px;
}

.title {
    position: absolute;
    left: 500px;
    top: 30px;
  }
  
  .generalinfo {
    position: absolute;
    left: 700px;
    top: 110px;
  }

